html {
    height: 100% !important;
}

body {
    position: relative;
    min-height: 100% !important;
    line-height: 1.5em;
    font-family: 'Open Sans', sans-serif;
}

header#pageheader,
footer#pagefooter,
div.related,
div.document {
    position: relative;
    left: -5%;
    max-width: 74rem;
    margin: 0 auto;
}

div.related {
    padding: 4px 0;
    color: #666;
}

div.document {
    padding-bottom: 60px;
}

a {
    position: relative;
    display: inline-block;
    padding: 2px 4px;
    margin: -2px -4px;
    font-weight: bold;
    color: #159 !important;
    text-decoration: none;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: color .25s ease-out, background-color .25s ease-out;
    -moz-transition: color .25s ease-out, background-color .25s ease-out;
    -o-transition: color .25s ease-out, background-color .25s ease-out;
    transition: color .25s ease-out, background-color .25s ease-out;
}

menu a:visited {
    color: #2f99d9 !important;
}

menu a:hover,
menu a:active,
menu a[href="#"] {
    text-decoration: none;
    color: #fff !important;
    background: #2f99d9;
}

a[href^="http"] {
    padding-right: 18px;
    background: url("link-out.svg") no-repeat 97% 5px;
    background-size: 10px;
}

a.headerlink {
    margin-left: 8px !important;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 2rem;
}

h1:first-child {
    margin-top: 1rem;
}

.centered {
    display: block;
    margin: 40px auto;
}

.console-preview {
    display: block;
    margin: 10px 0 20px !important;
    background: #300a24;
}

.console-preview .bash .nv,
.console-preview .bash .o,
.console-preview .bash .s1,
.console-preview .bash pre {
    color: #fff !important;
}

.vspace {
    position: relative;
    overflow: hidden;
    clear: both;
    width: 100%;
    height: 4px;
}

footer {
    text-align: left !important;
    font-size: 12px;
    border-top: 2px solid lightgray;
}

div.documentwrapper {
    padding-top: 10px;
}

div.bodywrapper {
    margin: 0 0 0 17rem;
}

div.bodywrapper h2 {
    margin-top: 3rem !important;
}

.sidebarwrapper {
    border-right: 2px solid lightgray;
}

.sidebarwrapper menu {
    padding: 0 0 0 10px;
}

.container {
    margin-top: 60px;
}

.usage-examples {
    margin: 10px 0 20px;
    padding: 5px 20px 30px;
    background-color: #eaeaea;
}

.pull-left {
    float: left;
}

dl.pull-left {
    max-width: 40rem;
    margin-top: 0 !important;
}

img.pull-left {
    float: left;
    margin-right: 30px;
}

img.border {
    border: 1px solid lightgray;
}

.body-font,
.body-font.sub-monospace h3 {
    font-family: 'Open Sans', sans-serif;
}

.zero-top-space {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.small-vspace {
    margin-top: 10px;
    margin-bottom: 10px !important;
}

.medium-vspace {
    margin-top: 20px;
    margin-bottom: 20px !important;
}

.small-top-space {
    margin-top: 10px !important;
}

.medium-top-space {
    margin-top: 20px !important;
}

.small-bottom-space {
    margin-bottom: 10px !important;
}

.medium-bottom-space {
    margin-bottom: 20px !important;
}

.top-space {
    margin-top: 30px !important;
}

.bottom-space {
    margin-bottom: 30px !important;
}

.valign-bottom {
    vertical-align: bottom;
}

/** Lists **/
ol,
ul {
    margin: 20px 0 0;
    padding: 0 0 0 24px;
}

ol li,
ul li {
    padding-bottom: 10px;
}

ol ul,
ol ol,
ul ul,
ul ol {
    margin-top: 10px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

ol p,
ul p {
    margin: 0;
    padding: 0;
}

.float-list > li {
    float: left;
    width: 33%;
}

.float-list {
    clear: both;
}

/** /Lists **/

dl.docutils {
    margin-top: 30px
}

dl.docutils dd {
    margin-bottom: 30px
}

dl.docutils dt {
    margin-bottom: 10px;
}

dl.docutils.monospace dt {
    font-family: 'Source Code Pro', monospace;
    font-size: large;
}

.monospace h2,
.monospace h3,
.sub-monospace h3,
.sub-monospace h4,
.monospace-topic .topic a {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
}

.monospace h3,
.sub-monospace h3 {
    margin-top: 30px;
}

.monospace-topic .topic a,
.body-font.sub-monospace h3 {
    font-weight: normal;
}

blockquote {
    margin-right: 0;
}

/* Code highlight */
tt,
code {
    padding: 2px 4px;
    font-size: 14px !important;
    white-space: nowrap;
    color: #333;
    background: #dedede;
    border-radius: 3px;
    font-family: 'Source Code Pro', monospace;
}

pre {
    line-height: 150%;
    border: none !important;
}

code {
    margin: 0 1px;
    font-size: 14px !important;
    box-sizing: border-box;
    border-radius: 3px;
}

pre code {
    display: block;
    padding: 12px 8px;
}

code>br:last-child {
    display: none;
}

.php {
    color: #a9b7c6;
    background: #2b2b2b;
}

.php .re0 {
    color: #b9a6c4;
}

.php .o,
.php .nc {
    color: inherit;
    font-weight: normal;
}

.php .co1,
.php .co4,
.php .coMULTI {
    color: #9f9f9d;
}

.php .st_h {
    color: #8aa779;
}

.php .kw1,
.php .kw2 {
    color: #cc7832;
    font-weight: bold;
}

.php .kw4,
.php .me2,
.php .me1 {
    color: #fdc56c;
}

.bash {
    color: #eee;
    background: #300a24;
}

/* /Code highlight */

/* Local ToC */
.contents.local.topic {
    background: transparent;
    border: none;
}

.contents.local.topic ul {
    margin: 20px 0 30px;
    padding: 0 0 0 20px;
}

.contents.local.topic ul ul {
    margin-bottom: 0;
}

.contents.local.topic li {
    list-style: circle;
}

/* /Local ToC */

/* Misc */
.incomplete-document ul {
    margin-top: 5px;
}

.incomplete-document li {
    padding: 0;
    font-size: 12px;
}
/* /Misc */

.component-api li > strong:first-child,
.component-api li > p > strong:first-child {
    font-family: 'Source Code Pro', monospace;
}

/* Admonition */
.admonition.seealso,
.admonition.note {
    padding: 14px 14px 14px 60px;
    border: none;
    border-radius: 3px;
    color: #666;
    background: #f0f0f0 url("tip.png") no-repeat 10px 6px;
}

.admonition.seealso .admonition-title,
.admonition.note .admonition-title {
    display: none;
}

.admonition a {
    font-style: italic !important;
}

/* /Admonition */

/* Clear-fix */
.content-group:before,
.content-group:after {
    content: "";
    display: table;
}

.content-group:after {
    clear: both;
}

/* (IE 6/7) */
.content-group {
    zoom: 1;
}

/* /Clear-fix */
